nav {
	background: #000;
}

.navBarLogo {
	width: 150px;
	height: 64px;
}

.genderSelector {
	display: flex;
	justify-content: space-around;
}

#breedDiv {
	margin-top: 0 !important;
}

.genderDiv {
	position: relative;
}

.select-wrapper, .ageSelector {
	padding-left: 0 !important;
}

.ageSelector {
	margin-top: 15px;
	position: relative;
}

.state, .city {
	position: relative;
}

.moveRight {
	margin-left: 85%;
	margin-top: 3%;
}

#submitSearch {
	margin: 10px;
}
